body {
    max-width: 650px;
    margin: 40px auto;
    padding: 0 10px;
    font-family: Sans-Serif;
}
h1,
h2,
h3 {
    line-height: 1.2;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

figure {
    padding: 4px;
    margin: auto;
    text-align: center;
}


figcaption {
    font-style: italic;
    padding: 4px;
    text-align: center;
}

img {
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 100%;
    border-radius: 5%;
}

div.figureGallery {
    column-count: 2;
    column-width: 285px;
    column-gap: 40px;
}
div.figureGallery img {
    border-radius: 50%;
}

div.tiledBlurb {
    width: auto;
    height: fit-content;
    padding: 10px;
    margin: 10px;
    text-align: left;
}


div.memberTile {
    width: auto;
    height: fit-content;
    padding: 4px;
    margin: 4px;
    text-align: center;
}

div.memberTile img {
    border-ratius: 30%
    object-fit: cover;
}

div.memberTile h3 {
    font-size: medium;
    line-height: 1;
}

div.memberTile p {
    font-size: small;
    line-height: 1;
}

div.centered {
    text-align: center;
}

/* TODO fix column image class */

div.equalColumns {
    display: grid;
    gap: 1em;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #c9d1d9;
        background: #0d1117;
    }
    a:link {
        color: #58a6ff;
    }
    a:visited {
        color: #8e96f0;
    }
/*
    div.tiledBlurb{
        color: #
    }
*/
}
@media (prefers-color-scheme: light) {
    body {
        color: #283618;
        background: #fefae0;
    }
    a:link {
        color: #bc6c25;
    }
    a:visited {
        color: #dda15e;
    }
}

@media (min-width: 650px) {
    div.equalColumns{
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
}
}
